.siteLayout{
    margin-left: 200px;
}
.content__container {
    background: #fff;
    min-height: 280px;

}
.items span{
    cursor: pointer;
    background-color: transparent;
}

@media screen and (max-width:991px) {
    .siteLayout{
        margin-left: 0px;
    }
}