.logo{
    padding-top:20px;
    display: flex;
    justify-content: center;
}
.logo svg{
    font-size: 30px;
    color: white;
}

.logo span{
    font-size: 25px;
    color: white;
    margin-left: 10px;

}