:root{
  --back_color:rgb(241, 255, 233);
}
h1{
  margin-bottom: 0px;
  margin-top: 0px;
}
.bak{
  border:1px solid black;
}
.img-fluid {
  max-width: 100%;
  height: auto
}
a{
  text-decoration: none;
  color: inherit;
}
.center_hero{
  align-items: center;
}
img { 
  -webkit-user-drag: none; 
  -khtml-user-drag: none; 
  -moz-user-drag: none; 
  -o-user-drag: none; 
  user-drag: none; 
}


button:hover{
  background: rgb(126, 122, 122);
  color: white;
}


.rw-list-option.rw-state-selected{
  background-color: #31A12E !important;
  border-color  : #31A12E !important;
  color: white;
}

.ant-menu-item-selected{
  background-color: #073a8d !important;
  color: white;
  border-radius: 10px;
}

.ant-layout-sider-children ul{
  border-top: #7c7c7c6d 1px solid;
  margin-top: 13px !important;
  padding-top: 30px !important;
}
.ant-layout-sider-children ul li{
  margin-left: 10px !important;
  margin-bottom: 15px !important;
  margin-right: 10px !important;
}
.ant-menu-item{
  padding: 23px !important; 
  font-size: 20px !important;
  border-radius: 10px;

}
.ant-menu-item svg{
  font-size: 20px  !important;
}


.ant-tabs-tab-btn{
  color: #d4d4d4 !important;
}
.ant-steps-item-title{
  color: #d4d4d4 !important;
}
.ant-steps-item-description{
  color: #d4d4d4 !important;
}
.ant-tabs{
  color: #fff !important;
}
.center{
  align-items: center;
}
.ant-modal-title{
  font-size: 20px !important;
  color: #fff !important;
  font-weight: 600 !important;
}
.ant-modal-header{
  background-color: rgba(2, 7, 34, 0.86)!important;
  border-bottom: 1px solid #bbbbbb29 !important;
}
.ant-modal-close{
  color: #fff !important;
}

